.place__paragraph{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;

  color: #FFFFFF;
  margin: 0 16px 24px;
}

.place__paragraph:nth-of-type(2n){
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .place__paragraph{
    margin: 0;
    grid-area: paragraph_1;
  }

  .place__paragraph:nth-of-type(2n){
    grid-area: paragraph_2;
  }
}