.lead__subtitle{
  max-width: 288px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0 40px;
  text-align: center;

  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .lead__subtitle{
    max-width: 600px;
    font-size: 30px;
    line-height: 1.2;
  }
}