.cover{
  position: relative;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  width: 100%;
  min-height: 62.5vw;
}

@media screen and (min-width: 1184px) {
  .cover{
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
  }
}