.place__url-heading{
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  margin-bottom: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #AAAAAA;
}

@media screen and (min-width: 1280px) {
  .place__url-heading{
    font-size: 12px;
    line-height: 1;
  }
}